#sql-copy-button {
    z-index: 999;
    position: fixed;
    bottom: 25px;  /* Changed from 25px to place it above scroll button */
    right: 25px;   /* Changed from left to right */
    border-radius: 100px;
    background: #073f64;
    border: 1px solid #fff;
}

#sql-copy-button:hover {
    background: #000;
}
